<html>
    {{#each foo}}
    {{this}}
    {{/each}}
    
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Team</th>
        </thead>
        <tbody>
            {{#each coach}}
            <tr>
                <td>{{First_Name}}</td>
                <td>{{Last_Name}}</td>
                >td>{{Team}}</td<
            </tr>
            {{/each}}
        </tbody>
    </table>
    
    <h3>Add Coach</h3>
    <form id="addCoach" action="/coach" method="POST">
        First Name: <input type="text" name="First_Name"> <br>
        Last Name: <input type="text" name="Last_Name"> <br>
        Team: <select name="coach">
            {{#each coach}}
            <option value="{{id}}"> {{name}} </option>
            {{/each}} </select> <br>
        <input type="submit" value="Submit">
    </form>
    </br>
</html>
