<h3>Current Coaches</h3>

<table>
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Team</th>
	</thead>
	<tbody>
		{{#each Coach}}
		<tr>
			<td>{{First_Name}}</td>
			<td>{{Last_Name}}</td>
			<td>{{Team}}</td>
			<td><a onclick="deleteCoach({{ID_Coach}})" role="button">Delete</a></td>
			<td><a href="/UpdateCoach/{{ID_Coach}}">Update</a></td>
		</tr>
		{{/each}}
	</tbody>
</table>

<h3>Add Coach</h3>
	<form id="addCoach" action="/Coach" method="POST">
		First Name: <input type="text" name="First_Name"> <br>
		Last Name: <input type="text" name="Last_Name"> <br>
		Team: <select name="Team" value="{{Team}}">
		{{#each Coach}}
		<option value="{{ID_Coach}}"> {{Team}} </option>
		{{/each}} </select> <br>
		<input type="submit" value="Submit">
	</form>


