<h3>Current Players</h3>
<table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>College</th>
            <th>Number</th>
            <th>Team</th>
        </thead>
        <tbody>
            {{#each Player}}
            <tr>
                <td>{{First_Name}}</td>
                <td>{{Last_Name}}</td>
                <td>{{College}}</td>
                <td>{{Number}}</td>
                <td>{{Team}}</td>
                <td><button onclick="deletePlayer({{pid}})">Delete</button></td>
                <td><a href="/Player/UpdatePlayer/{{pid}}">Update</a></td>
            <tr>
            {{/each}}
        </tbody>
    </table>
    
    <h3>Add Player</h3>
    <form id="addPlayer" action="/Player" method="POST">
        First Name: <input type="text" name="First_Name"> <br>
        Last Name: <input type="text" name="Last_Name"> <br>
        College: <input type="text" name="College"> <br>
        Number: <input type="number" name="Number"> <br>
        Team: <select name="player">
            {{#each Team}}
            <option value="{{Abbreviation}}"> {{Abbreviation}} </option>
            {{/each}} </select> <br>
        <input type="submit" value="Submit">
    </form>
</br><br/><a href="/">Back to the home page!</a><br/>

