<h3>Current Positions</h3>
<table>
        <thead>
            <th>ID</th>
            <th>Type</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Team</th>
        </thead>
        <tbody>
            {{#each Player}}
            <tr>
                <td>{{pid}}</td>
                <td>{{Type}}</td>
                <td>{{First_Name}}</td>
                <td>{{Last_Name}}</td>
                <td>{{Position}}</td>
                <td>{{Team}}</td>
                <td><button onclick="deletePlayer({{pid}})">Delete</button></td>
                <!--<td><a href="/Player/UpdatePlayer/{{pid}}">Update</a></td>-->
            <tr>
            {{/each}}
        </tbody>
    </table>
    <a href="/Player/UpdatePosition/Player">Update Player Positions</a>
    <a href="/Player/UpdatePosition/Coach">Update Coach Positions</a>
    

