<h3> Positions </h3>

<form id="AddPosition" ation="" method="POST">
  <select id="player" name="player">
    {{#each Player}}
    <option value="{{Player.ID_Player}}">{{Player.First_Name}} {{Player.Last_Name}}</option> 
    {{/each}}
  </select> <br>
  <select id="position" name="position">
    {{#each Position}}
    <option value="{{Position.ID_Position}}">{{Position.Position_Group}}</option> 
    {{/each}}
  </select> <br>
  <input type="submit" value="Submit">
</form>
