<h3>Update Coach ( {{First_Name}} {{Last_Name}} )</h3>
    <form id="updateCoach" action="/Coach/UpdateCoach/:{{cid}}" method="POST">
        First Name: <input type="text" name="First_Name"> <br>
        Last Name: <input type="text" name="Last_Name"> <br>
	    Team: <select name="Team">
        	{{#each Team}}
            	<option value="{{Abbreviation}}"> {{Abbreviation}} </option>
            	{{/each}} </select> <br>
		<input type="submit" value="Submit">
    </form>
{{!<button onclick="updateCoach({{Coach.cid}})">Update</button>}}
